body{
    height:auto;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color:white;
}
#h1{
    text-align: center;
}
#logout{
    border-radius: 10px;
    color: red;
    background: transparent;
    position: fixed;
    top: 65px;
    right:80px;
    border: 1px solid black;
}
#logout:hover{
    
    border:solid 1px;
    box-shadow:1px 1px 1px red;
}

button{
    pointer-events: all;
}


.album{
    height:140px;
    width: 150px;
    border: 1px solid white;
    margin: 2%;
    border-radius: 5px;
    background-color: aliceblue;
    color: black;
}

.album img{
    width:90%;
    height:60%;
    border:1px solid white;
    margin-top:3%;
    margin-left:4%;
    flex-grow: 1;
}

.album h5{
    margin:4px;
    text-align:center;
    font-size:1em;
}

.album button{
    display: none;
}

.url{
    display: none;
}

.album div{
    border-top:solid 1px white;
    z-index:10;
    display: none;
}

audio{
    display:none;
}
.audio{
    display:none;
}

.playaudio{
    display:block;
    position:absolute;
    top:50%;
    left:1.5%;
    height:5%;
    width: 33%;

}

.albumclicked{
    height:75vh;
    width:35%;
    border: 1px solid white;
    margin: 10px;
    border-radius: 5px;
    position:static;
    text-align: center;
    background-color:aliceblue;
    color: black;
    overflow:scroll;
    display:inline-block;
}
.cloned img{
    height:250px;
    width: 100%;
    margin:0px;
}

.cloned div{
    display: block;
    z-index: 12;
    cursor: pointer;
}

.cloned div p{
    margin: 1px;
    padding: 2px;
}

.cloned div label input{
    font-weight: bolder;
    display: block;
}

.cloned h5{
    margin:4px;
    text-align:center;
    font-size:1.5em;
    margin-top:30px;
    display: block;
}

.cloned .url{
    margin:4px;
    text-align:center;
    font-size:1.5em;
    display: block;
}


.albumremoved{
    display:none;
}
.removed{
    display: none;
}
.created{
    display: block;
}
a:visited{
    color:red;
}

label{
    height:20px;
    width:40px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border-radius:20%;
}
p{
    margin: 0px;
    padding: 2px;
}
label input{
  display:none;
    
}
