h2{
    display: inline-block;
}
#infoname{
    margin-left:20%;
}

#infoage{
    margin-left:24%;
}

#infogender{
    margin-left:17.5%;
}

#infophone{
    margin-left:19.5%;
}

#infoemail{
    margin-left:21%;
}

#protop{
    margin-left: 14%;
    margin-right: 0%;
    display: inline-block;
}
h1:hover{
    text-shadow: 0px 0px 10px yellow,0px 0px 25px yellow,0px 0px 50px yellow;
    transition: 1s;
}
h2:hover{
    text-shadow: 0px 0px 10px yellow,0px 0px 25px yellow,0px 0px 50px yellow;
    transition: 1s;
}